<h1>Artists</h1>
<%= link_to 'Create New Artist', new_artist_path %>
<hr/>
<% @artists.each do |artist| %>
  <br/>
  <%= artist.name %>
  <%= link_to 'View artist', artist_path(artist.id)%>
<% end %>
