<h1>Artists</h1>
<%= link_to 'Create New Artist', new_artist_path %>
<hr/>
<% @artists.each do |artist| %>
  <ul>
    <li><%= artist.name %>
      <%= link_to 'View artist', artist_path(artist.id)%>
    </li>
  </ul>
<% end %>
