<h1>DPL Billboards</h1>
<hr />

<p>We're here to share with you the hottest Billboards around! </p>

<%= link_to 'View Billboards', boards_path %>

<p>Take some time and add songs to a Billboard of your own </p>
