<h1> Here are all the songs! </h1>
<<<<<<< HEAD
<ul>
<% @songs.each do |song| %>
 <li>
 <%= Artist.find(song.artist_id).name %>
 <%= link_to song.name, artist_path(song.artist_id) %>
 </li>
 <% end %>
 </ul>

@artists