<h1> Click to view a Board </h1>
<%= link_to "Create New Board", new_board_path %>
<br />
<br />
<hr />

<ul>
  <% @boards.each do |board| %>
    <li>
      <div class="ui celled list">
        <div class="item">
          <div class="content">
            <div class="header">
            </div>
            <%= link_to board.name, board %> <!-- board is equal to board_path(board.id) -->
            </div>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
<hr />

